[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/PortalJunta
ExecStart=/home/ubuntu/PortalJunta/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/run/PortalJunta.sock PortalJunta.wsgi:application

[Install]
WantedBy=multi-user.target

